body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#settings-panel {
    width: 240px;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    padding: 5px;
    display: none;
}
#settings-panel p {
    margin: 10px 0;
}
#settings-panel input {
    width: 40px;
}


#viewport {
    position: absolute;
    overflow: hidden;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
#overlay {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
#debug {
    position: absolute;
    top: 5px;
    right: 5px;
}
#gameworld {
    position: absolute;
    top: 0px;
    left: 0px;
    /*background-color: rgba(0,255,0,0.2);*/
    width: 2000px;
    height: 2000px;
    /*background-image: url('images/floor.png');*/
    display: none;
}
#light-mask, #view {
    position: absolute;
    top:0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: optimizespeed;
}
#light-mask {
    /*display: none;*/
}
.text {
    position: absolute;
    top: 80%;
    left: 20%;
    right: 20%;
    color: white;
    font-size: 40pt;
    font-family:sans-serif;
    transform-origin: 50% 50%;
    transform: rotate(0);
    opacity: 1;
    filter: blur(1px);
    transition: all 2.0s;
    transition-timing-function: ease-out;
    display: block;
    /*width: 600px;*/
    height: 60px;
    text-align: center;
}

.text.fade-out {
    top: 60%;
    /*left: 15%;*/
    /*transform: rotate(-15deg);*/
    opacity: 0;
    font-size: 20pt;
    filter: blur(20px);
    transition: all 4s;
    transition-timing-function: ease-in;

}
.text.fade-in {
    top: 81%;
    opacity: 0;
    filter: blur(20px);
}
#player {
    display: block;
    position: absolute;
    width: 60px;
    height: 48px;
    background-image: url('images/Change-light-off.png');
}
#light {
    display: block;
    position: absolute;
    width: 60px;
    height: 48px;
    background-image: url('images/light-only-no-rod.png');
}
#player.down, #light.down {
    background-position-y: 0;
}
#player.right, #light.right {
    background-position-y: -48px;
}
#player.left, #light.left {
    background-position-y: -96px;
}
#player.up, #light.up {
    background-position-y: -144px;
}
