body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #585655;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#viewport {
    position: absolute;
    overflow: hidden;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
#overlay {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
#light-mask, #view {
    position: absolute;
    top:0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: optimizespeed;
}
/*#light-mask {*/
    /*display: none;*/
/*}*/
/*.text {*/
    /*position: absolute;*/
    /*top: 80%;*/
    /*left: 10%;*/
    /*right: 10%;*/
    /*color: white;*/
    /*font-size: 40pt;*/
    /*font-family:sans-serif;*/
    /*transform-origin: 50% 50%;*/
    /*transform: rotate(0);*/
    /*opacity: 1;*/
    /*filter: blur(1px);*/
    /*transition: all 0.25s;*/
    /*transition-timing-function: ease-out;*/
    /*display: block;*/
    /*!*width: 600px;*!*/
    /*height: 60px;*/
    /*text-align: center;*/
/*}*/

/*.dead .text {*/
    /*color: #b00;*/
    /*filter: blur(2px);*/
    /*transition: all 1s;*/
    /*font-size: 60pt;*/
/*}*/
/*.win .text {*/
    /*color: #4b4;*/
    /*transition: all 2s;*/
/*}*/
/*.text.fade-out {*/
    /*opacity: 0;*/
    /*filter: blur(10px);*/
    /*transition: all 0.5s;*/
    /*transition-timing-function: linear;*/
/*}*/
/*.dead .text.fade-out {*/
    /*color: #b00;*/
    /*filter: blur(2px);*/
    /*transition: all 5s;*/
    /*font-size: 60pt;*/
/*}*/
/*.text.fade-in {*/
    /*opacity: 0;*/
/*}*/
#player, #light {
    display: block;
    position: absolute;
    width: 60px;
    height: 48px;
    background-image: url('images/Change-light-off.png');
    left: -100px;
}
#light {
    background-image: url('images/light-only-no-rod.png');
}
#player.down, #light.down {
    background-position-y: 0;
}
#player.right, #light.right {
    background-position-y: -48px;
}
#player.left, #light.left {
    background-position-y: -96px;
}
#player.up, #light.up {
    background-position-y: -144px;
}
.dead #player {
    background-position-y: -96px;
    transform: rotate(90deg);
    background-image: url('images/Change-light-off.png');
    margin-top: 16px;
}
.dead #light {
    display: none !important;
}
#player-ghost {
    display: none;
    position: absolute;
    width: 60px;
    height: 48px;
    background-image: url('images/Change-light-off.png');
    opacity: 0.5;
}
.dead #player-ghost {
    display: block;
}
#death {
    background: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0));
    position: absolute;
    top:0;
    bottom: 50%;
    left: 48%;
    right: 48%;
    display: none;
}
.dead #death {
    display: block;
}
